/*cabeçalho*/
header img{
    height: 70px;
    width: 70px;
}

header{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

/*Conteudo principal*/


/*banner*/
#section-banners img{
    height: 750px;
    width: 100px;
}

/*Produtos vendidos*/
 #section-vendidos {
    text-align: center;
 }

 #section-vendidos h2 {
    font-weight: bold;
    padding: 20px;
 }

 #section-vendidos img {
    height: 450px;
    border-radius: 10px;
 }

 #section-vendidos .card {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 700px;
    width: 600px;

 }

 #section-vendidos .preco {
    color: red;
    font-size: 18px;
    font-weight: bold;
 }

/*Rodapé*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    background-color: #000e3d;
    color: #ebebeb;
    position: relative;
}

.contatos {
    padding: 20px;
}

.miller {
    padding-left: 20px; 
    position: relative; 
}

.miller .ponto {
    position: absolute; 
    bottom: 0; 
    background-color: #57f55f;
}

.siga {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.siga img {
    width: 20px;
    background-color: #ff0000;
}


/*Botão Voltar topo*/
#voltar-top{
    position: fixed;
    bottom: 5px;
    right: 50px;
}

/* página de login  */
#section-login{
    margin-top: 100px;

}

#section-login h1{
    text-align: center;
}

#section-login input{
    width: 100%;
}
/* Formulário de cadastro*/
#section-cadastro{
    padding: 5px;
    text-align: center;
    background-color: #fff;
}

#form-cadastrar{
    padding: 50px;
    display: none;
}

#chamada{
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5%;
}


#chamada2{
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10%;
}
header, main, footer {
    width: 100%;
    margin: 0 auto;
}

.card-text1{
    font-size: 17px;
}



/*Pagina de vendas*/

#pag-venda{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ebebeb;
    font-weight: bolder;
}

.mvp{
    width: 600px;
    height: 600px;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mvp h2{
    text-align: center;
}

.mvp form{
    margin top: 20px;
}

.mvp label{
    display: block;
    margin-bottom: 10px;
}

.culler{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.cco{
    background-color:#ffffff;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    border: nome;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    font-size: 16px;
}

.botao{
    background-color:#57f55f;
    width: 120px;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
    color: #000000;
    
    
}


.parte1{
    background-color: #ffffff;
    padding: 30px;
}

.parte2{
    padding-top: 20px;
    padding-left: 75%;
    background-color: rgb(255, 255, 255);
}

/*Produtos vendidosduo*/


#section-vendidosduo {
    text-align: center;
    padding: 20px;
 }

 #section-vendidosduo h2 {
    font-weight: bold;
    padding: 20px;
 }

 #section-vendidosduo img {
    height: 450px;
    border-radius: 10px;
 }

 #section-vendidosduo .card {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 700px;
    width: 600px;

 }

 #section-vendidosduo .preco {
    color: red;
    font-size: 18px;
    font-weight: bold;
 }

 

  /*Produtos vendidos4*/


#section-vendidos4 {
    text-align: center;
    padding: 20px;
 }

 #section-vendidos4 h2 {
    font-weight: bold;
    padding: 20px;
 }

 #section-vendidos4 img {
    height: 450px;
    border-radius: 10px;
 }

 #section-vendidos4 .card {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 700px;
    width: 600px;

 }

 #section-vendidos4 .preco {
    color: red;
    font-size: 18px;
    font-weight: bold;
 }

